body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

#welcome {
    position: absolute; 
   /*position it at a specified position at top, right, bottom, and left*/
    
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    
    height: :800px;
    /*specifies the height of the content area of an element*/
    
    overflow: hidden;
    /*The content is clipped and no scrollbars are provided.*/
    
    display: table;
    /*specifies the display behavior*/
        
    color: #FFFFFF;
    opacity: 0.83; /*alpha */
    background: linear-gradient(#34dbeb 0%, #b134eb 100%);
    width: 100%;
    height: 100%;
    
    z-index: 9px; /*When elements overlap, z-order determines which one covers the other. An element with a larger z-index generally covers an element with a lower one.*/
}

/* Image & I Am Tim Berners-Lee I am the founder of www: World Wide Web*/
#inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#picture {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

/*Tim Berners-Lee*/
#name {
    font-size: 30px;
    font-family: cursive
}


/*I am the founder of www: World Wide Web*/
h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace
}



/*section 2*/
#bio {
    padding: 20px;
    text-align: center;
    font-size: 42px;
}

/*Hi!*/
h1 {
    font-size: 40px;
    line-height: 1.2; /*pecifies the minimum height of line boxes within the element*/
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/*line under Hi!*/
.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto; /*brings it to the center - centers the div container horizontally*/
}

/*paragraph*/
p {
    max-width: 450px;
    margin: 25px auto; /*brings it to the center - centers the div container horizontally*/
    font-size: 17px;
    line-height: 1.3;
}


